@model LavoCar.Models.Recibo

@{
    ViewData["Title"] = "Delete";
}

<h1>Deseja remover esse recibo ? </h1>
<div>

    <hr />
        <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>
        <dt class="col-sm-3">
            Modelo do Veículo
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Carro.MarcaModelo.DescMarcaModelo)
        </dd>
        <dt class="col-sm-3">
            Data de Lavagem
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Lavagem.DataLav)
        </dd>
        <dt class="col-sm-3">
            Tipo de Lavagem
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TipoLavagem.DescTipoLav)
        </dd>
        </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReciboID" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
