@model IEnumerable<LavoCar.Models.Recibo>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Recibos</h1>

<p>
    <a asp-action="Create" class=" linkLogin"><img class="miniico" style="margin-right:5px;" src="~/img/createICO.png" />Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                Modelo do Carro
            </th>
            <th>
                Data da Lavagem
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carro.MarcaModelo.DescMarcaModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lavagem.DataLav)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id=" @item.ReciboID"><img class="ico" src="~/img/edit.webp" /></a> |
                <a asp-action="Details" asp-route-id="@item.ReciboID"><img class="ico" src="~/img/details.webp" /></a> |
                <a asp-action="Delete" asp-route-id="@item.ReciboID"><img class="ico" src="~/img/deletar.webp" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
