@model IEnumerable<LavoCar.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcionários</h1>

<p>
    <a asp-action="Create" class=" linkLogin" ><img class="miniico" style="margin-right:5px;" src="~/img/createICO.png"/>Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoneFuncionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoneFuncionario)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioID"><img class="ico" src="~/img/edit.webp" /></a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionarioID"><img class="ico" src="~/img/details.webp" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncionarioID"><img class="ico" src="~/img/deletar.webp" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
