@model LavoCar.Controllers.TipoReparo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de Reparo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescTipoReparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescTipoReparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoTipoReparo)
        </dt>
        <dd class = "col-sm-10">
           R$ @Html.DisplayFor(model => model.PrecoTipoReparo),00
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoReparoID" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
